version: "3.9"

services:
  stalwart:
    image: stalwartlabs/stalwart:latest
    container_name: stalwart_{{ server_hostname }}
    restart: unless-stopped
    ports:
{% for port in port_mappings %}
      - "{{ port }}"
{% endfor %}
    volumes:
      - {{ stalwart_root }}:/opt/stalwart
